<header class="header">
  <div class="container">
    <div class="header__logo" routerLink="">TODO List</div>
    <nav class="header__nav" *ngIf="!(isLoggedIn$ | async)">
      <a class="header__link" routerLink="/auth/login">Log in</a>
      <a class="header__link" routerLink="/auth/register">Sign in</a>
    </nav>
    <div class="header__username" *ngIf="currentUserUsername$ | async">
      {{ currentUserUsername$ | async }}
    </div>
    <div class="header__log-out" *ngIf="currentUserUsername$ | async">
      <a (click)="takeLogOut()">Log Out</a>
    </div>
  </div>
</header>
