:host {
  display: block;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.sort {
  display: flex;
  max-width: 900px;
  justify-content: space-between;
  gap: 5px;

  &__input {
    width: 400px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid gray;
    color: gray;
    border-radius: 5px;
    box-sizing: border-box;
  }
  select {
    background-color: rgba(255, 255, 255, 0.87);
    color: green;
    border-radius: 5px;
    box-sizing: border-box;
    border: none;
    outline: 2px solid green;
    font-size: 16px;
    padding: 3px;
  }
}
